@import "tailwindcss";
@theme{
    --color-primary: #0f52ba;
    --color-primary-light: #3b82f6;
    --color-primary-dark: #1e3a8a;
    --color-secondary: #f8fafc;
  }

  body {
    @apply font-sans bg-white text-gray-800
  }